.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 50%;
    margin-top: 50px;
    padding: 20px;
    background-color: black;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    background-color: #333;
    color: white;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: monospace;
    transition: opacity 0.3s ease;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    width: 100%;
}

.button, .buttonOperator, .buttonClear {
    padding: 20px;
    font-size: 1.5rem;
    background-color: #e0e0e0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover, .buttonOperator:hover, .buttonClear:hover {
    background-color: #d1cbcb;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-4px);
}

.button:active, .buttonOperator:active, .buttonClear:active {
    background-color: #999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}

.buttonOperator {
    background-color: #fc8e00;
}

.buttonOperator:hover {
    background-color: #ff7b00;
}

.buttonClear {
    background-color: #b7aaaa;
}

.buttonClear:hover {
    background-color: #9d9191;
}

@media (max-width: 600px) {
    .calculator {
        max-width: 100%;
        height: auto;
    }

    .display {
        font-size: 1.6rem;
        height: 50px;
    }

    .buttons {
        grid-template-columns: repeat(4, 1fr); 
    }

    .button, .buttonOperator, .buttonClear {
        padding: 15px;
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .calculator {
        max-width: 100%;
    }

    .display {
        font-size: 1.4rem;
        height: 40px;
    }

    .buttons {
        grid-template-columns: repeat(4, 1fr); 
    }

    .button, .buttonOperator, .buttonClear {
        padding: 12px;
        font-size: 1rem;
    }
}

@keyframes vanish {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.display.vanish {
    animation: vanish 0.5s forwards; 
}

.display.reset {
    opacity: 1;
    transform: scale(1);
}